@charset "UTF-8";

/* Versão Tablet */

:root{
    --cor01: #5a1e97;
    --cor02: #effffa29;
    --cor03: #028183;
}

body{
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor03), var(--cor02));
}